{% extends "base.html" %}
{% block title %}
{{ accessPointDetails["title"] }} - CampusPulse Access
{% endblock %}
{% block dynamic_content %}

<style>
    .no-a-styles {
        text-decoration: none;
        color: white;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 40px;
        height: 40px;
    }

    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 300px;
        height: 300px;
    }

    .main-img {
        width: 100%;
        height: 700px;
        object-fit: contain;
    }
</style>
<div class="container">
    <div class="row text-start">
        <div class="col-3">
            <a href="/catalog" class=" text-left"> &lt; back to catalog</a>
        </div>
    </div>

    <h1>{{ accessPointDetails["title"] }} </h1>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div id="muralImagesCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in accessPointDetails["images"]: %}
                    {% if loop.index == 1 %}
                    <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% else %}
                    <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in accessPointDetails["images"]: %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item text-center">
                            {% endif %}
                            <img class="main-img" alt="{{ accessPointDetails['images'][loop.index-1]['alttext'] }}" src="{{ accessPointDetails['images'][loop.index-1]['imgurl'] }}">
                            <div class="carousel-caption d-none d-md-block banner-value">
                                {% if accessPointDetails['images'][loop.index-1]['caption'] != None %}<p class="no-a-styles">
                                    {{ accessPointDetails['images'][loop.index-1]['caption'] }}</p>{% endif %}
                                <pre style="font-family:inherit;font-size:inherit;text-wrap:wrap">{% if accessPointDetails['images'][loop.index-1]['attribution'] != None %}Photo: {{ accessPointDetails['images'][loop.index-1]['attribution']}}{% if accessPointDetails['images'][loop.index-1]['datecreated'] != None %}, {{ accessPointDetails['images'][loop.index-1]['datecreated'].strftime("%B %d, %Y") }}{% endif %}{% endif %}{% if accessPointDetails['images'][loop.index-1]['fullsizeimage']%}<a class="no-a-styles" href="{{ accessPointDetails['images'][loop.index-1]['fullsizeimage'] }}">
View Full Size Image</a>{% endif %}</pre>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% if accessPointDetails["images"]|length > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- Status -->
                
                <span class="chip" style="background-color: {{ accessPointDetails["status"]["background_color"] }}; color:{{ accessPointDetails["status"]["text_color"] }}">
                    {{ accessPointDetails["status"]["message"] }}
                </span>


                {% if accessPointDetails["notes"] != '' %}
                <h3>Description:</h3>
                <pre style="font-family:inherit;font-size:inherit; text-wrap:wrap">{{ accessPointDetails["notes"] }} </pre>
                {% endif %}

                <h3>Location:</h3>
                <p>
                    <strong>Building</strong>: {{ accessPointDetails["building_name"] }} <br>
                    {% if accessPointDetails["location_info"] %}<strong>Location Description</strong>: {{ accessPointDetails["location_info"] }}
                    <br>{% endif %}
                    {% if accessPointDetails["floor"] %}<strong>Floor</strong>: {{ accessPointDetails["floor"] }}
                    <br>{% endif %}
                    {% if accessPointDetails["door_count"] %}<strong>Doors</strong>: {{ accessPointDetails["door_count"] }}
                    <br>{% endif %}
                    <strong>Room</strong>: {{ accessPointDetails["room"] }}<br>
                    <strong>Status Last Updated</strong>: {{ accessPointDetails["status_updated"] }}<br>
                </p>


                {% if accessPointDetails['tags']|length > 0 %}
                <h3>Tags:</h3>
                {% for tag in accessPointDetails['tags']: %}
                <a href="/tags?t={{ tag }}">
                    <p class="chip">{{ tag }}</p>
                </a>
                {% endfor %}
                {% endif %}

                {% if accessPointDetails["remarks"] %}
                <div class="accordion" id="remarkdropdown">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="remarkheading" title="Remarks can provide additional information about a piece, including details sourced from suggestions, conversations, and other casual sources.">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#remarkcollapse" aria-controls="remarkcollapse">
                                Remarks
                            </button>
                        </h2>
                        <div id="remarkcollapse" class="accordion-collapse collapse" aria-labelledby="remarkheading" data-bs-parent="#remarkdropdown">
                            <div class="accordion-body">
                                <div class="container">
                                    <pre style="font-family:inherit;font-size:inherit;text-wrap:wrap">{{ accessPointDetails['remarks'] }}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <a href="{{ accessPointDetails['report_url'] }}" target="_blank">
                    <button type="button" class="btn btn-primary">Report issue</button>
                </a>
            </div>
        </div>
    </div>

    {% endblock %}