{% extends "header.html" %}
{% block title %}
{{ accessPointDetails["title"] }} - CampusPulse Access
{% endblock %}
{% block metadata %}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tunnelvision.csh.rit.edu/murals/{{ accessPointDetails['id'] }}" />
<meta property="og:title" content="{{ accessPointDetails['title'] }}" />
<meta property="og:description" content="{{ accessPointDetails['notes'] }}" />
<meta property="og:image" content="{{ accessPointDetails['thumbnail'] }}" />
<meta name="description" value="CampusPulse Access is an interactive catalog of the accessibility devices on RIT's campus by maintenance status." />
{% endblock %}
{% block dynamic_content %}

<style>
    .no-a-styles {
        text-decoration: none;
        color: white;
    }

    .img-zoom-container {
        position: relative;
    }

    .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 40px;
        height: 40px;
    }

    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 300px;
        height: 300px;
    }

    .main-img {
        width: 100%;
        height: 700px;
        object-fit: contain;
    }
</style>
<div class="container">
    <div class="row text-start">
        <div class="col-3">
            <a href="/catalog" class=" text-left"> &lt; back to catalog</a>
        </div>
    </div>

    <h1>{{ accessPointDetails["title"] }} </h1>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div id="muralImagesCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in accessPointDetails["images"]: %}
                    {% if loop.index == 1 %}
                    <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" class="active" aria-current="true" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% else %}
                    <button type="button" data-bs-target="muralImagesCaptions" data-bs-slide-to="{{ loop.index-1 }}" aria-label="Slide {{ loop.index-1 }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in accessPointDetails["images"]: %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item text-center">
                            {% endif %}
                            <img class="main-img" alt="{{ accessPointDetails['images'][loop.index-1]['alttext'] }}" src="{{ accessPointDetails['images'][loop.index-1]['imgurl'] }}">
                            <div class="carousel-caption d-none d-md-block banner-value">
                                {% if accessPointDetails['images'][loop.index-1]['caption'] != None %}<p class="no-a-styles">
                                    {{ accessPointDetails['images'][loop.index-1]['caption'] }}</p>{% endif %}
                                <pre style="font-family:inherit;font-size:inherit;text-wrap:wrap">{% if accessPointDetails['images'][loop.index-1]['attribution'] != None %}Photo: {{ accessPointDetails['images'][loop.index-1]['attribution']}}{% if accessPointDetails['images'][loop.index-1]['datecreated'] != None %}, {{ accessPointDetails['images'][loop.index-1]['datecreated'].strftime("%B %d, %Y") }}{% endif %}{% endif %}{% if accessPointDetails['images'][loop.index-1]['fullsizeimage']%}<a class="no-a-styles" href="{{ accessPointDetails['images'][loop.index-1]['fullsizeimage'] }}">
View Full Size Image</a>{% endif %}</pre>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% if accessPointDetails["images"]|length > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#muralImagesCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- Status -->
                
                <span class="chip" style="background-color: {{ accessPointDetails["status"]["background_color"] }}; color:{{ accessPointDetails["status"]["text_color"] }}">
                    {{ accessPointDetails["status"]["message"] }}
                </span>


                {% if accessPointDetails["notes"] != '' %}
                <h3>Description:</h3>
                <pre style="font-family:inherit;font-size:inherit; text-wrap:wrap">{{ accessPointDetails["notes"] }} </pre>
                {% endif %}

                <h3>Location:</h3>
                <p>
                    <strong>Building</strong>: {{ accessPointDetails["building_name"] }} <br>
                    {% if accessPointDetails["location_info"] %}<strong>Location Description</strong>: {{ accessPointDetails["location_info"] }}
                    <br>{% endif %}
                    {% if accessPointDetails["floor"] %}<strong>Floor</strong>: {{ accessPointDetails["floor"] }}
                    <br>{% endif %}
                    {% if accessPointDetails["door_count"] %}<strong>Doors</strong>: {{ accessPointDetails["door_count"] }}
                    <br>{% endif %}
                    <strong>Room</strong>: {{ accessPointDetails["room"] }}<br>
                    <strong>Status Last Updated</strong>: {{ accessPointDetails["status_updated"] }}<br>
                    {% if authsession and is_admin %}
                    <strong>Last Report Ticket #</strong>: {{ accessPointDetails["status_ticket_number"] }}<br>
                    <strong>Last Report ID #</strong>: {{ accessPointDetails["report_id"] }}<br>
                    <strong>Last Report ID #</strong>: {{ accessPointDetails["status_report_id"] }} (By Status)<br>
                    {% endif %}
                </p>


                {% if accessPointDetails['tags']|length > 0 %}
                <h3>Tags:</h3>
                {% for tag in accessPointDetails['tags']: %}
                <a href="/tags?t={{ tag }}">
                    <p class="chip">{{ tag }}</p>
                </a>
                {% endfor %}
                {% endif %}

                {% if accessPointDetails["remarks"] %}
                <div class="accordion" id="remarkdropdown">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="remarkheading" title="Remarks can provide additional information about a piece, including details sourced from suggestions, conversations, and other casual sources.">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#remarkcollapse" aria-controls="remarkcollapse">
                                Remarks
                            </button>
                        </h2>
                        <div id="remarkcollapse" class="accordion-collapse collapse" aria-labelledby="remarkheading" data-bs-parent="#remarkdropdown">
                            <div class="accordion-body">
                                <div class="container">
                                    <pre style="font-family:inherit;font-size:inherit;text-wrap:wrap">{{ accessPointDetails['remarks'] }}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <a href="{{ accessPointDetails['report_url'] }}" target="_blank">
                    <button type="button" class="btn btn-primary">Report issue</button>
                </a>
                
                {% if authsession and is_admin %}
                    <a href="/edit/{{ accessPointDetails['id'] }}">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </a>
                {% endif %}

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                                Suggestion? Feedback?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <form action="/suggestion" method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label for="notes" class="form-label"><b>Notes</b></label>
                                            <p class="thin">What could be improved about this catalog listing?</p>
                                            <input type="text" class="form-control" style="margin-bottom: 10px; margin-top: -10px;" id="notes" name="notes" required>
                                            <label for="notes" class="form-label"><b>Your Contact</b></label>
                                            <p class="thin">How can we reach you to follow up?</p>
                                            <input type="text" class="form-control" id="contact" name="contact">
                                            <input type="text" class="visually-hidden" id="muralid" name="access_point_id" value="{{ accessPointDetails['id'] }}">
                                        </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% if authsession and is_admin %}

                <form action="/add_ticket/{{accessPointDetails['id']}}" method="post">
                    <details>
                        <summary><label for="ticket_ref" class="form-label"><b>Assign Ticket Number</b></label></summary>
                    <p class="thin">Filed a ticket for this item? Ensure the system email is on the watch list and add the ticket number here!</p>
                    <input type="text" class="form-control"  id="ticket_ref" name="ticket_ref" placeholder="WOT1234567" required pattern="WOT[0-9]+" title="Work order ticket number like WOT1234567">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </details>
                </form>

                <form action="/add_status/{{accessPointDetails['id']}}" method="post">
                    <details>
                        <summary><b>Assign Manual Status</b></summary>
                        <p class="thin">Sign on the elevator? Heard from another channel that its broken? Update it here! Don't forget to come back and update it again if it is fixed!</p>
                        <label>
                            Status Bubble Text: 
                            <input type="text" class="form-control" id="status" name="status" title="The name for the status bubble (1-30 char)" required pattern=".{1,30}" placeholder="Reported">
                        </label>
                        <label>
                            Note
                            <input type="text" class="form-control" id="note" name="note" title="Brief note about why this status changed" required placeholder="Theres a sign on the door">
                        </label>
                        <label>
                            Category
                            <select name="category">
                                {% for name, val in accessPointDetails['status_categories'].items() %}
                                <option value="{{val}}">{{name}}</option>
                                {% endfor %}
                            </select>
                        </label><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </details>
                </form>

                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}