{% extends "header.html" %}

<!-- This is a janky workaround to get stuff imported for just admin pages -->
{% block metadata %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

{% endblock %}

{% block dynamic_content %}

<p>Admin Panel</p>
<div class="row">
  <div class="col-3">
    <form action="/export?p=1" method="post">
      <button type="submit" class="btn btn-primary">Public Export</button>
    </form>
  </div>
  <div class="col-3">
    <form action="/export?p=0" method="post">
      <button type="submit" class="btn btn-primary">Private Export</button>
    </form>
  </div>
  <div class="col-3">
    <div class="mb-3">
      <form action="/import" method="post">
        <!-- <input type="file" class="form-control" id="fileimport" name="fileimport"> -->
        <button type="submit" class="btn btn-primary" disabled>Import</button>
      </form>
    </div>
  </div>
  <div class="col-3">
    <form action="/relinkhighres" method="post">
      <button type="submit" class="btn btn-primary">Relink High Res</button>
    </form>
  </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Upload New Elevator
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="container mt-5">
                <h2>New Elevator</h2>
                <form action="/upload/elevator" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="building" class="form-label">What building is this button in?</label>
                      
                      <select id="dropdown" name="building">
                        <option value="default" name="default">Select a building</option>
                        {% for bldg in buildings: %}
                        {{bldg.name}}
                        <option value="{{ bldg.acronym }}">{{bldg.number}} - {{bldg.name}}</option>
                        
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="room" class="form-label">What room number does this elevator have?</label>
                      <p>Enter N for the floor number</p>
                      <input type="room" class="form-control" id="room" name="room" required>
                    </div>

                    <div class="mb-3">
                        <label for="min_floor" class="form-label">Minimum Floor</label>
                        <input type="text" class="form-control" id="min_floor" name="min_floor" required>
                    </div>

                    <div class="mb-3">
                      <label for="max_floor" class="form-label">Maximum Floor</label>
                      <input type="text" class="form-control" id="max_floor" name="max_floor" required>
                    </div>

                    <div class="mb-3">
                      <label for="door_count" class="form-label">Number of Doors</label>
                      <input type="number" class="form-control" id="door_count" name="door_count">
                    </div>
                    
                    <div class="mb-3">
                      <label for="location-nick" class="form-label">Location Nickname (public, ex. "South Elevator")</label>
                      <input type="text" class="form-control" id="location-nick" name="location-nick">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location Notes</label>
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                    <div class="mb-3">
                      <label for="coords" class="form-label">Coordinates (lat,long)</label>
                      <input type="text" class="form-control" id="coords" name="coords">
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Elevator Notes</label>
                        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Multiple Images</label>
                        <input type="file" class="form-control" id="images" name="images[]" multiple required>
                    </div>
                    <div class="mb-3">
                      <label for="active" class="form-label">Is active?</label>
                      <input type="checkbox" id="active" name="active" value="true" checked/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Manage Existing Access Points
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container text-center">
                <h1>{{ pageTitle }}</h1>
                <div class="row row-cols-2">
                {% for access_point in accessPoints: %}
                <div class="card" style="width: 15rem">
                    <div class="col">
                        <a style="text-decoration: none;" href="/edit/{{ access_point['id'] }}">
                        <img class="card-img-top"  src="{{ access_point['thumbnail'] }}">
                        <div class="card-body">
                            <p>{{ access_point['title'] }}</p>
                            <p>({{ access_point['year'] }})</p>
                        </div>
                        </div>
                    </a>
                    </div>
                {% endfor %}
                </div>
            </div>          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Manage Tags
          </button>
        </h2> 
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="container">
                <ul class="list-group list-group">
                  <form action="/addTag" method="post" enctype="multipart/form-data">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </li>
                  </form>
                  {% for tag in tags: %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div>Name: <b>{{ tag["name"] }}</b></div>

                        
                        <form action="/editTag/{{ tag['name'] }}" method="post" enctype="multipart/form-data">
                          <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input value="{{ tag['description'] }}" type="text" class="form-control" id="description" name="description" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Edit Description</button>
                        </form>
                      </div>
                      <form action="/deleteTag/{{ tag['name'] }}" method="post" enctype="multipart/form-data">
                        <button type="submit" class="badge bg-danger rounded-pill">X</button>
                      </form>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script>

      // Load data on page load
        window.onload = () => {
          // Initialize Select2 on the building dropdown
          $('#dropdown').select2({
            placeholder: "Search and select a building",
            width: '100%',
            minimumResultsForSearch: 0  // Always shows search bar
          }).on('select2:open', function () {
            // Automatically focus on the search box when dropdown opens
            document.querySelector('.select2-search__field').focus();
          });
        };

    </script>

{% endblock %}