{% extends "base.html" %}
{% block title %}
Catalog - CampusPulse Access
{% endblock %}
{% block dynamic_content %}

<div class="container text-center">

    {% if tags | length > 0 %}
    {% for tag in tags: %}
    <a href="/tags?t={{ tag }}"><p class="chip">{{ tag }}</p></a>
    {% endfor %}
    {% endif %}

    {% if accessPoints | length > 0 %}
    <div class="container-fluid">
        <div class="row">
            {% for mural in accessPoints %}
                {% if loop.index is divisibleby 18 %}
                    {{ muralcard(mural, True, page) }}
                {% else %}
                    {{ muralcard(mural) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h2>No Results Found</h2>
    <a href="/catalog"><h2>Clear query</h2></a>
    {% endif %}
</div>

{% endblock %}
