{% extends "header.html" %}
{% block title %}
Catalog - CampusPulse Access
{% endblock %}
{% block metadata %}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://tunnelvision.csh.rit.edu/catalog" />
<meta property="og:title" content="Catalog - CampusPulse Access" />
<meta property="og:description" content="CampusPulse Access is an interactive catalog of the accessibility devices on RIT's campus by maintenance status." />
<meta property="og:image" content="{{ SITEURL }}/theme/images/favicon.png" />
<meta name="description" value="CampusPulse Access is an interactive catalog of the accessibility devices on RIT's campus by maintenance status." />
{% endblock %}
{% block dynamic_content %}

<div class="container text-center">
    <!-- <div class="row mb-3">
        <form action="/catalog">
            <div class="input-group">
                <label class="visually-hidden" for="q">Search:</label>
                <input name="q" id="q" type="text" class="form-control" {% if not q %} placeholder="Search..." {% else %} value="{{ q }}" {% endif %}>
                <button class="btn btn-dark" type="submit" aria-expanded="false">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="Search Icon" style="width: 20px; height: 20px; margin-bottom: 2px; filter: invert(1);">
                </button>
            </div>
        </form>
    </div> -->

    {% if tags | length > 0 %}
    {% for tag in tags: %}
    <a href="/tags?t={{ tag }}"><p class="chip">{{ tag }}</p></a>
    {% endfor %}
    {% endif %}

    {% if accessPoints | length > 0 %}
    <div class="container-fluid">
        <div class="row">
            {% for mural in accessPoints %}
                {% if loop.index is divisibleby 18 %}
                    {{ muralcard(mural, True, page) }}
                {% else %}
                    {{ muralcard(mural) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h2>No Results Found</h2>
    <a href="/catalog"><h2>Clear query</h2></a>
    {% endif %}
</div>

{% endblock %}
