{% extends "header.html" %}
{% block dynamic_content %}
 
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Warning! You are about to delete an entry!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Deleting this entry will delete all associated media, including imagery, feedback, artist, and all details of the piece.</p>
            <p><b>This cannot be undone.</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          <form action="/delete/{{ accessPointDetails['id'] }}" method="post">
          <button type="submit" class="btn btn-danger">Delete Mural</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<div class="container">
    <form action="/edittitle/{{ accessPointDetails['id'] }}" method="post">
            <input value="{{ accessPointDetails['title'] }}" type="text" class="form-control" id="title" name="title" required>
            <button type="submit" class="btn btn-primary">Edit Title</button>
    </form>
    <div class="row">
        <div class="col-8 mb-3">
            {% for image in accessPointDetails["images"]: %}
            <img style="width:100%;" src="{{ accessPointDetails['images'][loop.index-1]['imgurl'] }}">
            <form action="/makethumbnail?accesspointid={{ accessPointDetails['id'] }}&imageid={{ accessPointDetails['images'][loop.index-1]['id'] }}" method="post">
                <button type="submit" class="btn btn-primary" {% if accessPointDetails['images'][loop.index-1]['id'] == accessPointDetails['thumbnail_ref'] %} disabled {% endif %}>Make this the thumbnail</button>
            </form>
            <form action="/editimage/{{ accessPointDetails['images'][loop.index-1]['id'] }}" method="post">
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <p class="thin">Write a caption for this image. Use the caption to put the piece in the larger context. You might consider the space it occupies, the content of the piece, the cultural references, and the political environment of the time.</p>
                    <textarea type="text" class="form-control" id="caption" name="caption">{{ accessPointDetails['images'][loop.index-1]['caption'] }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="alttext" class="form-label">Alt Text</label>
                    <p class="thin">Write a description of this image in particular. Refer to <a href="https://developers.google.com/tech-writing/accessibility/self-study/write-alt-text#write-useful-text">this article</a> on writing good alt text.</p>
                    <input value="{{ accessPointDetails['images'][loop.index-1]['alttext'] }}" type="text" class="form-control" id="alttext" name="alttext">
                </div>
                <div class="mb-3">
                    <label for="attribution" class="form-label">Attribution</label>
                    <p class="thin">The photographer's chosen credit line, ideally some variant of their name.</p>
                    <input value="{{ accessPointDetails['images'][loop.index-1]['attribution'] }}" type="text" class="form-control" id="attribution" name="attribution">
                </div>
                <div class="mb-3">
                    <h6>Date Taken</h6>
                    <p>{{ accessPointDetails['images'][loop.index-1]['datecreated'] }}</p>
                </div>
                <button type="submit" class="btn btn-primary">Edit Details</button>
                </form>
            <form action="/detachimage/{{ accessPointDetails['images'][loop.index-1]['id'] }}/from/{{ accessPointDetails['id']}}" method="post">
            <button type="submit" class="btn btn-danger">Detach/Delete Image</button>
            </form>
            {% endfor %}
            <form action="/uploadimage/{{ accessPointDetails['id'] }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="images" class="form-label">Upload New Images</label>
                    <input type="file" class="form-control" id="images" name="images[]" multiple>
                </div>
            <button type="submit" class="btn btn-primary">Upload New Images</button>
            </form>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-7">
                    {% if accessPointDetails['prevmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ accessPointDetails['prevmuralid'] }}">Prev</a>
                    {% endif %}
                </div>
                <div class="col-5">
    
                    {% if accessPointDetails['nextmuralid'] != None: %}
                    <a class="btn btn-primary" role="button" href="{{ accessPointDetails['nextmuralid'] }}">Next</a>
                    {% endif %}
                </div>
            </div>
            <h1>Preview:</h1>
            <div class="card col-lg-6 text-center">
              
              

              <div>
                <a style="text-decoration: none; color:inherit" href="/access_points/{{ accessPointDetails['id'] }}">
                <img class="card-img-top" src="{{ accessPointDetails['thumbnail'] }}">
                    {% if accessPointDetails['tags']|length > 0 %}
                    <div class="card-body">
                    <p style="margin-bottom: 2px;">{{ accessPointDetails['title'] }}</p>
                    <p style="margin-bottom: 4px">({% if accessPointDetails["year"] != 0 %}{{ accessPointDetails["year"] }}{% else %}Unknown{% endif %})</p>
                    {% for tag in accessPointDetails['tags'] %}
                    <p style="margin-bottom: 2px" class="chip small">{{ tag }}</p>
                    {% endfor %}
                    {% else %}
                    <div class="card-body">
                    <p style="margin-bottom: 4px">{{ accessPointDetails['title'] }}</p>
                    <p>({% if accessPointDetails["year"] != 0 %}{{ accessPointDetails["year"] }}{% else %}Unknown{% endif %})</p>
                    {% endif %}
                </div>
                </div>
            </a>
              </div>
              <h1>General Information</h1>
              <form action="/editaccesspoint/{{ accessPointDetails['id'] }}" method="post">
                <label for="tags">Tags:</label>
                <p class="thin">Create more tags on the <a href="/admin">Admin Panel</a>.</p>
                <select name="tags" class="form-select form-select-sm" multiple aria-label="multiple select">
                  <option {{ 'selected' if accessPointDetails['tags']|length == 0 else '' }} value="No Tags">No Tags</option>
                  {% for t in tags %}
                  <option {{ 'selected' if t.name in accessPointDetails['tags'] else '' }} value="{{ t.name }}">{{ t.name }}</option>
                  {% endfor %}
                </select>
                <div class="mb-3">
                    <label for="active" class="form-label">Active</label>
                    <input {{ accessPointDetails['active'] }} type="checkbox" id="active" name="active">
                    <p class="thin">Should this mural be on the catalog? Inactive murals can still be searched.</p>
                </div>
                <div class="mb-3">
                    <label for="notes" class="form-label">Description</label>
                    <p class="thin">Visually describe this piece. Please be as descriptive as possible and use terms that could be aid in the discoverability of the piece in search engines.</p>
                    <textarea type="text" class="form-control" id="notes" name="notes">{{ accessPointDetails['notes'] }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">Remarks</label>
                    <p class="thin">Use the remarks field to add any additional details that could be useful about a piece. These details could be sourced from suggestions, common knowledge, or other casual sources. Please end your remarks entry with your name/initials and the date when you wrote it.</p>
                    <textarea type="text" class="form-control" id="remarks" name="remarks">{{ accessPointDetails['remarks'] }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="location-info" class="form-label">Location</label>
                    <p class="thin">Longer description of the location, explain how to find this based on nearby landmarks like quads or other buildings</p>
                    <input value="{{ accessPointDetails['location_info'] }}" type="text" class="form-control" id="location-info" name="location-info">
                </div>

                <div class="mb-3">
                  <label for="coords" class="form-label">Coordinates (lat,long)</label>
                  <input type="text" class="form-control" id="coords" name="coords" value="{{ accessPointDetails['coordinates'] }}">
                </div>
                <div class="mb-3">
                  <label for="location-nick" class="form-label">Location Nickname</label>
                  <p class="thin">What would people commonly know this location as? Ideally something different from other locations that may be in the catalog (i.e. "South elevator", "Right" etc )</p>
                  <input value="{{ accessPointDetails['location_nick'] }}" type="text" class="form-control" id="location-nick" name="location-nick">
                </div>

                <div class="mb-3">
                  <label for="door_count" class="form-label">Number of Doors</label>
                  <p class="thin">How many doors does the car in this elevator have?</p>
                  <input type="number" value="{{ accessPointDetails['door_count'] }}" class="form-control" id="door_count" name="door_count">
                </div>
                <!-- <h1>Private Information</h1>
                <div class="mb-3">
                    <label for="location" class="form-label">Private Notes</label>
                    <textarea type="text" class="form-control" id="private_notes" name="private_notes">{{ accessPointDetails['private_notes'] }}</textarea>
                </div> -->
                <button type="submit" class="btn btn-primary">Edit Details</button>
              </form>

              {% if accessPointFeedback|length > 0 %}
              <h1>Feedback:</h1>
              {% for feedback in accessPointFeedback: %}
              <div class="list-group">
                <a class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"><b>Notes:</b> {{ accessPointFeedback[loop.index-1]['notes'] }}</p>
                    <p class="text-muted" title="{{ accessPointFeedback[loop.index-1]['exacttime'] }}">{{ accessPointFeedback[loop.index-1]['approxtime'] }}</p>
                  </div>
                  <small><b>Contact:</b> {{ accessPointFeedback[loop.index-1]['contact'] }}</small>
                </a>
              </div>
              {% endfor %}
              {% endif %}

              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete Mural
              </button>
            </div>
          </div>
</div>

{% endblock %}