{% from "includes/muralcard.html" import muralcard %}
{% extends "base.html" %}
{% block title %}
Catalog - CampusPulse Access
{% endblock %}
{% block dynamic_content %}

<div class="container text-center">

    <div class="row text-start">
        <div class="col-3">
            <a href="/catalog" class=" text-left"> &lt; back to catalog</a>
        </div>
    </div>
    <h2>Tag - {{ tag }}</h2>

    {% if articles | length > 0 %}
    <div class="container-fluid">
        <div class="row">
            {% for mural in articles %}
                {% if loop.index is divisibleby 18 %}
                    {{ muralcard(mural, True, page) }}
                {% else %}
                    {{ muralcard(mural) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h2>No Results Found</h2>
    <a href="/catalog"><h2>Clear query</h2></a>
    {% endif %}
</div>

{% endblock %}
